{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">{% trans "Login" %}</div>
            <div class="panel-footer">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <hr>
                    <button class="btn btn-primary" type="submit">{% trans "Login" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}