{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% if password_error_message %}
        <div class="panel panel-danger" style="background-color: #fff0f9">
            <div class="panel-body">
                <b>{{ password_error_message }}</b>
            </div>
        </div>
        {% endif %}
        <div class="panel panel-primary">
            <div class="panel-heading">{% trans "Fill password for get access" %}</div>
            <div class="panel-footer">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <hr>
                    <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}