{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">{% trans "Protect your link or document" %}</div>
            <div class="panel-footer">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <hr>
                    <button class="btn btn-primary" type="submit">{% trans "Protect" %}</button>
                </form>
            </div>
        </div>
    </div>

    {% if entry %}
    <div class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">{% trans "You protected data" %}</div>
            <div class="panel-footer">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">{% trans "Protected url: " %}
                            <b><a href="{% url 'entry_detail' entry.slug %}">{{ request.META.HTTP_HOST }}{% url 'entry_detail' entry.slug %}</a></b>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% trans "Password: " %} <b>{{ entry.password }}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}